/*In this css file comes alle colors so javascript en css is split*/

.lightBlue{
    background-color: #42b3f4;
}
.red{
    background-color: #b70000;
}
.green{
    background-color: #0e7a00;
}
.purple{
    background-color: #75007a;
}
.yellow{
    background-color: #f4eb42;
}
